@import 'tailwindcss';

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

  cursor: default;
  list-style: none;
  text-decoration: none;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --background: #161616;
}

body {
  background-color: var(--background);
}
